body {
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
.markdown-body table td,
.markdown-body table th {
  font-family: "Roboto", sans-serif !important;
}

h1 {
  font-weight: 900 !important;
}

h2 {
  font-weight: 700 !important;
  color: #555;
  padding-top: 20px;
}

a {
  font-weight: bold;
}

details {
  margin-top: 30px;
  margin-left: 15px;
}

summary {
  font-weight: bold;
  margin-bottom: 8px;
}

.hover {
  cursor: pointer;
}

#nprogress .bar {
  position: fixed;
  z-index: 9999;
  top: 0 !important;
  left: 0 !important;
  background: #0d4474 !important;
  height: 5px !important;
}

.aria-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
